body {
  --blue-shadow: #2B272C;
  --blue-midtone: #9EB4F8;
  --blue-lightened-midtone: #DCE3F8;

  background-color: var(--blue-shadow);
  color: var(--blue-shadow);
  font-family: Menlo, monospace;
  margin: 0;
}

@media (max-width: 600px) {
  @keyframes zoomOut {
    0% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}

.cardPositioningContainer {
  animation: 4s zoomOut 0.1s ease backwards;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  min-height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
  z-index: 3;
  pointer-events: none;
}

@media (max-width: 600px) {
  .cardPositioningContainer {
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    min-height: calc(100% - 4rem);
  }
}

.topFold,
.bottomFold {
  transition: all 0.8s ease;
  height: 140px;
  background: white;
  width: 100%;
  max-width: 460px;
  border: 2px solid var(--blue-shadow);
  box-sizing: border-box;
  pointer-events: auto;
}

@media (max-width: 600px) {
  .topFold,
  .bottomFold {
    height: 80px;
  }
}

@keyframes topUnfold {
  0% {
    background-color: var(--blue-lightened-midtone);
    transform: rotateX(-160deg);
  }

  100% {
    background-color: #ffffff;
    transform: rotateX(-25deg);
  }
}

.topFold {
  animation: 2s topUnfold 0.2s ease backwards;
  transform-origin: bottom center;
  transform-style: preserve-3d;
  transform: rotateX(-25deg);
  border-radius: 8px 8px 0 0;
  background-color: white;
}

.topFold:hover {
  transform: rotateX(-10deg);
}

.topFold:hover .topFold-front {
  background-color: var(--blue-lightened-midtone);
}

.topFold-front {
  transition: all 0.8s ease;
  backface-visibility: hidden;
  background-color: var(--blue-midtone);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

@keyframes bottomUnfold {
  0% {
    background-color: var(--blue-lightened-midtone);
    transform: rotateX(160deg);
  }

  100% {
    background-color: var(--blue-midtone);
    transform: rotateX(30deg);
  }
}

.bottomFold {
  animation: 2.5s bottomUnfold 0.1s ease backwards;
  transform-origin: top center;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
  border-radius: 0 0 8px 8px;
  background-color: var(--blue-midtone);
}

.bottomFold:hover {
  transform: rotateX(10deg);
}

.bottomFold:hover .bottomFold-front {
  background-color: var(--blue-lightened-midtone);
}

.bottomFold-front {
  transition: all 0.8s ease;
  backface-visibility: hidden;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 8px;
}

.card {
  background-color: var(--blue-lightened-midtone);
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 460px;
  box-sizing: border-box;
  border: 2px solid var(--blue-shadow);
  border-width: 0 2px;
  pointer-events: auto;
}

@media (max-width: 600px) {
  .card {
    padding: 36px;
  }
}

.card-message {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0.4em;
}

@media (max-width: 600px) {
  .card-message {
    font-size: 16px;
    line-height: 24px;
  }
}

.card-signature {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-signature img {
  margin-right: 1rem;
}

.button {
  font-family: sans-serif;
  text-decoration: none;
  color: inherit;
  background: white;
  border: 2px solid var(--blue-shadow);
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 14px;
  margin: 4rem 0;
  pointer-events: auto;
}

.sparkleCanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.sparkleCanvas {
  pointer-events: none;
}

.presents {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.presents-1 {
  position: absolute;
  top: 2vw;
  left: 3vw;
}

.presents-2 {
  position: absolute;
  bottom: 4vw;
  left: 18vw;
}

.presents-3 {
  position: absolute;
  right: 10vw;
  top: 35vh;
}
